<form action="" id="blablaform" (ngSubmit)="OnSubmit()">
  <div>
    <h3>Where ?</h3>
    <label for="destination">Your destination</label>
    <input
      id="destination"
      type="text"
      name="destination"
      required
      [(ngModel)]="model.destination"
    />
    <p>current destination in model : {{ model.destination }}</p>
  </div>
  <div>
    <h3>When ?</h3>
    <div>
      <label for="Check-in Date"></label>
      <input
        type="date"
        name="Check-in Date"
        id="Check-in Date"
        required
        [(ngModel)]="model.checkInDateAsString"
      />
      <p>current Check-in Date in model : {{ model.checkInDate  }}</p>
    </div>
    <div>
      <label for="Check-out date"></label>
      <input
        type="date"
        name="Check-out date"
        id="Check-out date"
        required
        [(ngModel)]="model.checkOutDateAsString"
      />
      <p>current Check-out date in model : {{ model.checkOutDate }}</p>
    </div>
  </div>

  <div>
    <h3>Who ?</h3>
    <div>
      <label for="Rooms">Rooms</label>
      <input
        type="number"
        name="Rooms"
        id="Rooms"
        required
        [(ngModel)]="model.roomCount"
        min="0"
      />
      <p>current Rooms in model : {{ model.roomCount }}</p>
    </div>
    <div>
      <label for="Adults">Adults</label>
      <input
        type="number"
        name="Adults"
        id="Adults"
        required
        [(ngModel)]="model.adultCount"
        min="0"
      />
      <p>current Adults in model : {{ model.adultCount }}</p>
    </div>
    <div>
      <label for="Children">Children</label>
      <input
        type="number"
        name="Children"
        id="Children"
        required
        [(ngModel)]="model.childrenCount"
        min="0"
      />
      <p>current Children in model : {{ model.childrenCount }}</p>
    </div>
  </div>
</form>
