nav {
  background-color: blueviolet;
  display: flex;
}

a {
  background-color: aqua;
  margin: 5px;
  padding: 5px;
  display: block;
}

a.active {
  background-color: chocolate;
  
}

li {
  list-style-type: none;
  
}
