<div>
  <div [hidden]="submitted">
    <h1>Actor Form</h1>
    <form (ngSubmit)="onSubmit()" #actorForm="ngForm">
      <div>
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          required
          [(ngModel)]="model.name"
          name="name"
          #name="ngModel"
        />
        <div [hidden]="name.valid || name.pristine">Name is required</div>
      </div>
      <div>
        <label for="studio">Studio Affiliation</label>
        <input
          type="text"
          id="studio"
          [(ngModel)]="model.studio"
          name="studio"
        />
      </div>
      <div>
        <label for="skill">Skill</label>
        <select
          id="skill"
          required
          [(ngModel)]="model.skill"
          name="skill"
          #skill="ngModel"
        >
          <option *ngFor="let skill of skills" [value]="skill">
            {{ skill }}
          </option>
        </select>
        <div [hidden]="skill.valid || skill.pristine">skill is required</div>
      </div>
      <button type="submit" [disabled]="!actorForm.form.valid">Submit</button>
      <button type="button" (click)="newActor(); actorForm.reset()">
        New Actor
      </button>
      <em>with</em> reset   
      <button type="button">New Actor</button>
      <em>without</em> reset
      <!-- NOT SHOWN IN DOCS -->
      <div>
        <hr />
        Name via form.controls = {{ showFormControls(actorForm) }}
      </div>
      <!-- - -->
    </form>
  </div>
  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div>
      <div>Name</div>
      <div>{{ model.name }}</div>
    </div>
    <div>
      <div>Studio</div>
      <div>{{ model.studio }}</div>
    </div>
    <div>
      <div>Skill</div>
      <div>{{ model.skill }}</div>
    </div>
    <br />
    <button type="button">Edit</button>
  </div>
</div>
<!-- ====================================================  -->
<div>
  <form>
    <!-- ... all of the form ... -->
  </form>
</div>
<!-- ====================================================  -->
<hr />
<style>
  .no-style .ng-valid {
    border-left: 1px solid #ccc;
  }
  .no-style .ng-invalid {
    border-left: 1px solid #ccc;
  }
</style>
<div>
  <div>
    <h1>Actor Form</h1>
    <form>
      <div>
        <label for="name">Name</label>
        <input type="text" required />
      </div>
      <div>
        <label for="studio">Studio</label>
        <input type="text" />
      </div>
      <div>
        <label for="skill">Skill</label>
        <select required>
          <option *ngFor="let skill of skills" [value]="skill">
            {{ skill }}
          </option>
        </select>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  <!-- ====================================================  -->
  <hr />
  <div>
    <h1>Actor Form</h1>
    <form #actorForm="ngForm">
      {{ model | json }}
      <div>
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          required
          [(ngModel)]="model.name"
          name="name"
        />
      </div>
      <div>
        <label for="studio">Studio</label>
        <input
          type="text"
          id="studio"
          [(ngModel)]="model.studio"
          name="studio"
        />
      </div>
      <div>
        <label for="skill">Skill</label>
        <select id="skill" required [(ngModel)]="model.skill" name="skill">
          <option *ngFor="let skill of skills" [value]="skill">
            {{ skill }}
          </option>
        </select>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  <!-- EXTRA MATERIAL FOR DOCUMENTATION -->
  <hr />
  <input type="text" id="name" required [(ngModel)]="model.name" name="name" />
  TODO: remove this: {{ model.name }}
  <hr />
  <input
    type="text"
    id="name"
    required
    [ngModel]="model.name"
    name="name"
    (ngModelChange)="model.name = $event"
  />
  TODO: remove this: {{ model.name }}
</div>
